<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
    <form
      [formGroup]="studentForm"
      (ngSubmit)="onSubmit()"
      class="space-y-4 bg-white p-6 rounded-lg shadow-lg"
    >
    <h2 class="text-2xl font-bold ">Add Student</h2>

      <div>
        <label for="id" class="block text-sm font-medium text-gray-700"
          >ID</label
        >
        <input
          type="number"
          id="id"
          formControlName="id"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>

      <div>
        <label for="name" class="block text-sm font-medium text-gray-700"
          >Name</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>

      <div>
        <label for="age" class="block text-sm font-medium text-gray-700"
          >Age</label
        >
        <input
          type="number"
          id="age"
          formControlName="age"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>

      <div>
        <label for="grade" class="block text-sm font-medium text-gray-700"
          >Grade</label
        >
        <input
          type="text"
          id="grade"
          formControlName="grade"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
      >
        Add Student
      </button>
    </form>
  </div>
</div>
